<!DOCTYPE html>
<html>
  <style>
    details {
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: .5em .5em 0;
    }
    
    summary {
      font-weight: bold;
      margin: -.5em -.5em 0;
      padding: .5em;
    }
    summary:hover {
      background-color: #F3F3F3;
      cursor:pointer;
    }

    details[open] {
      padding: .5em;
    }

    details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: .5em;
    }

    summary::-webkit-details-marker {
      display: none;
    }

    .mask-word {
      background: url('images/color-fade.png') no-repeat left bottom;
      background-size: cover;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

  </style>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">


    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>
        <h2 style="text-align:center"> To reach me: 
          {{ site.resume_contact_email }}
        <!-- <a href="mailto:{{ site.resume_contact_email }}" >{{ site.resume_contact_email }} </a>  -->
        </h2>


        <!-- To display contact info here, change `display_header_contact_info` value in _config.yml to true -->
        {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %}

        <div class="title-bar no-print">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <!-- <div class="executive-summary" itemprop="description"> -->
        <div>
          {{ site.resume_header_intro }}
        </div>

        <!-- {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email" style="display:inline">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
        {% else %}
        {% endif %} -->
        <p>
          <details>
            <summary>&#9658; Computer Science Researcher</summary>
            <p>
              I have a broad research interst, while especially focus on Bayesian Machine Learning. My previous works include variational approximate inference, graph neural networks, mutual information maximization for representation learning, human skeleton-based action recognition, etc. If you are interested, please refer to my publications and projects.
            </p>
          </details>
        </p>

        <p>
          <details>
            <summary>&#9658; Computer Music Enthusiast</summary>
            <div>
              <p>
              I was enrolled in ANU Laptop Ensemble 2021, where I have been inspired a lot to be a computer music artist. I love playing the piano but I don't read music score, in fact I can't read those notes and 
              all the composition comes from inspiration. My completely off-note practice built up my ability of live composing and transcripting. I aim to incorporate my experience into computer music composition. <br>
              </p>
              <div style="text-align:center">
                <video width="80%" height="80%" controls>
                  <source src="video/laptop-ensemble-gig.mp4" type="video/mp4">
                  [** your browser does not support video attribute **]
                </video>
              </div>
              <p>
              The video is about my project -- a pure data based cross-platform performance interface specially designed for Novation Launchkey Mini MK3 that I developed independently. 
              The files are available on GitHub and feel free to take a look! [<a href="https://github.com/ljxw88/pure-data-loop-pedal">link</a>] 
              </p>
            </div>
          </details>
        </p>

        <p>
          <details>
            <summary>&#9658; Video Game Devotee</summary>
            <p>
            I love playing video games and watching anime, I regard them as inseparable components of my life.
            I own a number of game consoles, such as PS4, Xbox One X, Nintendo Switch, Xbox 360, PSV, PS2, PSP, GBSP, Subor Famicom.
            These seemingly rebellious gaming machine were with me for a long time in my childhood, they eased my pain and turned it into an incentive for me to be more enthusiastic and confident about my school life.<br>

            I love playing mobile games, I'm addicted to Genshin Impact (原神), Guardian Tale, and Uma Musume (ウマ娘). I've topped up
            uncountable stipend into such games, which actually makes me happy but painful. <br>

            I also love computer games, especially FPS games, for instance Apex Legends and Rainbow Six Siege, as well as action games such as Monster Hunter World.
            I prefer to play multiplayer online games with my friends rather than alone and I basically use steam as computer gaming platform, if we do share the same interest, please add me by this steam page [<a href="https://s.team/p/gpp-hpmq/HQNQVTMR">link</a>]. <br>

            I highly respect those console and game producers, I thank them sincerely for bringing me lots of happiness. 
            I always believe games are not just forms of entertainment, but advanced methodologies of expressing aim-oriented flow of ideas and associations. These
            high immersive interactive experience are more straight-forward approach to create empathic stories, presenting to human. <br>

            Though I've lived to experience a lot of boring games,
            there are indeed bunch of amazing games, those you could never forget by their storylines. I was sometimes shocked by the creativity of these producers while regret that the game has not become mainstream
            and afraid of one day I will never see another masterpiece like this again. Gamers are thoughtful individuals, I really hope one day the society can let go of judgment and prejudice to confront the gaming community.
          </p>
          </details>
        </p>

      </header>

      <section class="content-section">
        <header class="section-header">
          <h2 class="mask-word">&#9733; News</h2>
        </header>
        <div>
          <ul>
            {% for news in site.data.news %}
            <li>
              ({{ news.date }}) {{ news.activity }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>


      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">
        <header class="section-header">
          <h2>Education</h2>
        </header>

        {% for education in site.data.education %}
        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
          <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} &bull; {{ education.year }}</h4>
          <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
          <p class="resume-item-copy" itemprop="description">
            <ul class="resume-item-list">
              {% for award in education.awards %}
              <li>{{ award.award }}</li>
              {% endfor %}
            </ul></h5>


          <p class="resume-item-copy">{{ education.summary }}</p>
        </div>
        {% endfor %}
      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        {% for job in site.data.experience %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{{ job.position }}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ job.company }} &bull; {{ job.duration }}</h4>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}

      </section>
      <!-- end Experience -->
      {% endif %}


      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">
        <header class="section-header">
          <h2>Projects</h2>
        </header>

        {% for project in site.data.projects %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
          <p class="resume-item-copy">{{ project.description }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_papers %}
      <!-- begin Projects -->
      <section class="content-section">
        <header class="section-header">
          <h2>Papers</h2>
        </header>

        {% for papers in site.data.papers %}
        <div style="float: left; width: 20%">
          {% if papers.img %} 
            <img style="max-width:90%" src="{{ papers.img }}">
          {% else %}
            <img style="max-width:90%" src="images/no-img.png">  
          {% endif %}
        </div>
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork" style="margin-left:20%">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h4 class="resume-item-title" itemprop="name" style="font-size:21px">
              {{ papers.project }}
              <!-- {% if papers.url %}<a href="{{ papers.url }}" itemprop="url">{{ papers.project }}</a>{% else %}{{ papers.project }}{% endif %} -->

          </h4>
          <h4 class="resume-item-copy" itemprop="description">Authors: {{ papers.role }} </h4>
          <p class="resume-item-copy">Conference: {{ papers.conf }}  &bull; {{ papers.duration }}
              {% if papers.url %}[<a href="{{ papers.url }}" itemprop="url">Paper</a>]{% else %}[Paper Coming Soon]{% endif %}

              {% if papers.code %}[<a href="{{ papers.code }}" itemprop="url">Code</a>]{% else %}[Code Released Soon]{% endif %}

              {% if papers.thesis %}[<a href="{{ papers.thesis }}" itemprop="url">Thesis</a>]{% endif %}
          </p>
          <!-- <p class="resume-item-copy">{{ papers.description }}</p> -->
        </div>
        {% endfor %}

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <h4 class="resume-item-details">{{ skill.skill }}</h4>
          <p class="resume-item-copy">{{ skill.description }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        {% for recognition in site.data.recognitions %}
        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">{{ recognition.award }}</h3>
          <h4 class="resume-item-details">{{ recognition.organization }} &bull; {{ recognition.year }}</h4>
          <p class="resume-item-copy">{{ recognition.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        {% for association in site.data.associations %}
        <div class="resume-item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ association.role }} &bull; {{ association.year }}</h4>
          <p class="resume-item-copy">{{ association.summary }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_interests %}
      <!-- begin Interests -->
      <section class="content-section">

        <header class="section-header">
          <h2>Outside Interests</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for interest in site.data.interests %}
            <li>{{ interest.description }}</li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Interests -->
      {% endif %}



      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Profiles & Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            {% for link in site.data.links %}
            <li><a href={{ link.url }} itemprop="url">{{ link.description }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}


      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}


      <footer class="page-footer">
        <!-- <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p> -->
        <p class="footer-line"><a href="https://genshin.mihoyo.com/en/home">「真実がありここにあり」</a></p>
      </footer>

    </div>

  </body>

</html>
